<!DOCTYPE html>
<html lang="en"
  xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>Link Expressions</title>
    <link th:href="@{/css/demo.css}" rel="stylesheet"/> <!-- to point to the external css file -->
</head>
<body>
  <h1>Link Expressions Demo:</h1>
  <a th:href="@{/variable-expression}"> variable-expression </a>
  <a th:href="@{/selection-expression}"> selection-expression</a>
<p> <a th:href="@{link-expression/{id}(id=${id})}">link with parameter</a></p> <!-- how to pass a parameter to the link using link expression -->
</body>
</html>